name: Android CI

on:
  push:
    branches: 
      - master
      - 'dev'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    # Checkout the branch code
    - uses: actions/checkout@v2
    # Cache and restore the dependencies
    - uses: actions/cache@v2
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    # Use the JDK Setup
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    # Grant permission to Gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    # Generate Dev APK
    - name: Generate Dev APK
      run: ./gradlew assembleDevRelease
      if: github.ref == 'refs/heads/dev'
      # Sign Prod APK
    - name: Sign APK
      id: sign debug
      uses: r0adkll/sign-android-release@v1
      with:
          releaseDirectory: app/build/outputs/apk/dev/release
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
    # Generate Production APK
    - name: Generate Production APK
      run: ./gradlew assembleProdRelease
      if: github.ref == 'refs/heads/master'
    # Sign Prod APK
    - name: Sign APK
      id: sign prod
      uses: r0adkll/sign-android-release@v1
      with:
        releaseDirectory: app/build/outputs/apk/prod/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}
    # Artifact the Generated APK
    - name: Artifact the APK
      uses: actions/upload-artifact@v2
      with:
        name: android-app
        path: |
          **/*.apk
